<div class="row">
  <div class='col-lg-12'> 
    <ol class="breadcrumb">
      <li> <%= link_to "Users", admin_users_path %> </li>
      <li> <%= link_to @user.name, admin_user_path(@user) %> </li>
      <li> <%= link_to "Orders", admin_user_orders_path %> </li>
      <li> New </li>
    </ol>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <%= render :partial => 'form' %>
  </div>
</div>
