<div class='container'> 
  <div class='row'>
    <div class='col-lg-12'>
      <p class='lead'>Nothing but hold a place in your heart.</p>
      <p class='lead'>We try to do a API with a mobile app.</p>
      <p class='lead'>Only admin features are going to have views on this web application.</p>
    </div>
  </div>
</div>
