<div class='row'>
  <div class='col-lg-12'>
    <%= simple_form_for @user, url: admin_users_path do |f| %> 
      <%= f.input :email, disabled: true %>
      <%= f.input :name, disabled: true %>
      <%= f.submit 'Save' %>
    <% end %>
  </div>
</div>
